{% extends "base.html" %}

{% block content %}
    <h2>User</h2>
    <form action="/auth/" method="post" name='login' class="ga_button">
        {% csrf_token %}
        <label for="your_name">Login: </label>
        <input type="submit" value="Login">
    </form>
    <form action="/logout/" method="post" name='clear' class="ga_button">
        {% csrf_token %}
        <label for="your_name">Logout: </label>
        <input type="submit" value="Clear">
    </form>
        
    <h2>Data</h2>
    <div class="container-fluid">
        {% for beer in object_list %}
            {% ifchanged beer.brewery_name %} 
                </div><div class='row'>
                <div class='brewery_name col-xs-16'>{{beer.brewery_name}}</div>
            {% endifchanged %}
            <div  class='col-xs-4'>{{ beer.beer_name }}</div>
        {% endfor %}
        </div>
    </div>
{% endblock %}